<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Constructora_FV.My.MySettings.ConnectionString" connectionString="Dsn=Constructora FV"
            providerName="System.Data.Odbc" />
        <add name="Constructora_FV.My.MySettings.const113_PapiroConnectionString"
            connectionString="Dsn=Papiro;uid=const113_admin2;description=Papiro;server=localhost;database=const113_papiro;port=3306"
            providerName="System.Data.Odbc" />
        <add name="Constructora_FV.My.MySettings.const113_papiroConnectionString1"
            connectionString="server=localhost;user id=root;database=const113_papiro"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
